/* src/components/TopSection/topSection.module.css */

.topSection {
  display: flex;
  align-items: stretch;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding-left: 3rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: left;
  margin-right: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.title span {
  white-space: nowrap;
}

.orange {
  color: #f56d24;
  display: inline;
}

.description {
  font-size: 1rem;
  text-align: center;
}

.achievement {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.achievement span {
  font-size: 2rem;
  font-weight: bold;
  color: #f56d24;
  white-space: nowrap;
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}



.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.image img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0 0 0 50px;
}
